<%= link_to 'chose category', edit_category_user_path(id: current_user.id), class: "btn btn-outline-dark btn-sm" %>
<%= link_to 'add post', render_posts_path , class: "btn btn-outline-dark btn-sm"%>

<div>
  <div class="row pt-4">
    <h5 class="">Your added categories: </h5>
    <div class="row">
      <% @user.categories.each do |category| %>
        <p class="ml-4">-<%= category.name %>-</p>
      <% end %>
    </div>
  </div>
</div>
<div>
  <% @posts.each do |post| %>
    <%= post.title %>
    <%= post.body %>
    <hr>
    <hr>
  <% end %>
</div>